<div class="container">
    <div class="col-md-6 col-md-offset-3 text-center">
        <h1>Welcome</h1> 
        <h1 id="users_name_h1">{{currentUser.firstName}} {{currentUser.lastName}}!</h1>
    </div>
    <div class="col-md-12 text-center inputSpace">
            <button (click)="loadUsersClassrooms()" class="btn btn-sm btn-info">Reload</button>
    </div>
    <!-- Teacher section -->  
    <div *ngIf="currentUser.teacher">
        <div class="col-md-6">
            <h3>Register rooms:</h3>
            <form name="form" (ngSubmit)="f.form.valid && createClassroom()" #f="ngForm" novalidate>
                <div class="form-group " [ngClass]="{ 'has-error': f.submitted && !roomName.valid }">
                    <input type="text" class="form-control inputSpace" name="roomName" [(ngModel)]="model.roomName" #roomName="ngModel" placeholder="Room name..." required />
                    <div *ngIf="f.submitted && !roomName.valid" class="help-block">Room name is required</div>
                    <button [disabled]="loading" class="btn btn-primary inputSpace">Create classroom</button>
                    <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                </div>
            </form>
    
            <h3>All registered classrooms:</h3>
                <ul>
                    <li *ngFor="let room of classrooms" class="inputSpace">
                        <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                        <button [disabled]="loading" (click)="enterRoom(room._id)"class="btn btn-info btn-sm">{{room.roomName}}</button>
                        - <a (click)="deleteClassroom(room._id)">Delete</a>
                    </li>   
                </ul>   
        </div>
        <div class="col-md-6">
            <div class="inputSpace" *ngIf="!create&&!edit&&!editing" >
                <h3>Snippets!</h3>
                <button [disabled]="loading" class="btn btn-success" (click)="createFunc()">Create Snippet...</button>
                <button [disabled]="loading" class="btn btn-info" (click)="editFunc()">Edit Snippet...</button>
            </div>  
            <div class="inputSpace" *ngIf="create">
                <h3>Create Snippet</h3>
                <input type="text" class="form-control inputSpace" name="snippetName" [(ngModel)]="snippetModel.name" #name="ngModel" placeholder="Snippet name..." required/>
                <h6 class="inputSpace">Put &lt;fill&gt; where the student should fill!</h6>
                <textarea ng-model="string" class="form-control inputSpace" rows="7" cols="50" name="snippetBox" [(ngModel)]="snippetModel.code" #code="ngModel" id="snippetBox" (keydown.Tab)="onKey($event)" placeholder="Code here..." required></textarea>
                <textarea ng-model="string" class="form-control inputSpace" rows="3" name="descBox" [(ngModel)]="snippetModel.desc" #desc="ngModel" id="snippetdesc" (keydown.Tab)="onKey($event)" placeholder="Desc here..." required></textarea>                
                <button [disabled]="loading" class="btn btn-success btn-sm" (click)="createSnippet()">Create</button>
                - <a (click)="returnFunc()">Return</a>
            </div>  
            <div class="inputSpace">
                <div  *ngIf="edit">  
                    <h3>Edit Snippet - <a (click)="returnFunc()">Return</a></h3> 
                    <ul>
                        <li *ngFor="let snip of snippets" class="inputSpace">
                            <button [disabled]="loading" class="btn btn-success btn-sm" (click)="editSnippet(snip)">{{snip.name}}</button>
                            - <a (click)="removeSnippet(snip)">Remove</a>
                        </li>
                    </ul>
                </div>
                <div *ngIf="editing">    
                    <h3>Edit Snippet</h3>
                    <input type="text" class="form-control inputSpace" name="snippetName" [(ngModel)]="snippetModel.name" #name="ngModel" placeholder="Snippet name..." required/>
                    <h6 class="inputSpace">Put &lt;fill&gt; where the student should fill!</h6>
                    <textarea ng-model="string" class="form-control inputSpace" rows="7" cols="50" name="snippetBox" [(ngModel)]="snippetModel.code" #code="ngModel" id="snippetBox" (keydown.Tab)="onKey($event)" placeholder="Code here..." required></textarea>
                    <textarea ng-model="string" class="form-control inputSpace" rows="3" name="descBox" [(ngModel)]="snippetModel.desc" #desc="ngModel" id="snippetdesc" (keydown.Tab)="onKey($event)" placeholder="Desc here..." required></textarea>                
                    <button [disabled]="loading" class="btn btn-success btn-sm" (click)="updateSnippet()">Update</button>
                - <a (click)="returnFunc()">Return</a>
                </div>
            </div>  
        </div>
    </div>

    <!-- Student section -->
    <div *ngIf="!currentUser.teacher">
        <div class="col-md-6">
            <h3>Your classrooms</h3> 
            <ul>
                <li *ngFor="let room of classrooms" class="inputSpace">
                    <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                <button [disabled]="loading" (click)="enterRoom(room._id)"class="btn btn-info btn-sm">{{room.roomName}}</button>
                - <a (click)="exitClassroom(room)">Exit</a>
                </li>
            
                <li *ngFor="let room of pendingReq" class="inputSpace">
                        <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                    <button [disabled]="true"  class="btn btn-danger btn-sm">{{room.roomName}}  (Pending...)</button>
                    - <a (click)="removeReq(room)">Remove</a>
                </li>
            </ul>    
        </div>
        <div class="col-md-6">
            <h3>Join classroom:</h3> 
            <form name="form" (ngSubmit)="f.form.valid && sendReqToClassroom()" #f="ngForm" novalidate>
                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !roomName.valid }">
                    <input type="text" class="form-control inputSpace" name="roomName" [(ngModel)]="model.roomName" #roomName="ngModel" placeholder="Room name..." required />
                    <div *ngIf="f.submitted && !roomName.valid" class="help-block inputSpace">Room name is required</div>
                    <button [disabled]="loading" class="btn btn-primary inputSpace">Send join request</button>
                    <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                </div> 
            </form>
        </div>
    </div>
</div>
<div class="text-center">
    <hr>
    <p id="exit_link"><a [routerLink]="['/login']">Logout</a></p>
</div>